@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

/* common styling */

:root {
    --primary-color: yellow;
    --font-color: white;
    --background-color: black;
}

body {
    font-family: 'Source Serif 4', sans-serif;
    background-color: black;
    color: var(--font-color);
    background-image: url(/images/Animated\ Shape.svg);
    text-align: center;
}

label {
    color: var(--font-color);
    padding: 0.5rem;
    text-align: left;
    color: yellow;
}

.question-container {
    text-align: center;
    border: 2px solid var(--primary-color);
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 0.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 18px;
    background-color: black;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    background-color: black;
    color: yellow;
    position: fixed;
    top: 0;
    width: 100%;
    float: left;
    box-shadow: 03px 4px 8px 0 rgba(0, 0, 0, .4);
    border-bottom: 4px solid yellow;
}

.nav-item {
    display: inline;
    float: left;
    color: white;
    border-right: 1px solid yellow;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item.nav-a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    cursor: pointer;
}

.nav-brand {
    display: block;
}

.nav-item.nav-a:hover {
    background-color: var(--primary-color);
    color: black;
}

.nav-active {
    background-color: var(--primary-color);
    color: black;
}

.footer {
    list-style-type: none;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 0;
    padding-bottom: 1rem;
    overflow: hidden;
    color: var(--primary-color);
    background-color: var(--background-color);
    width: fit-content;
    border-radius: 10rem;
}

.footer-item {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
}

.footer-head {
    display: block;
    color: white;
    margin-bottom: 1.5rem;
}

.logo {
    font-size: 30px;
    color: var(--primary-color);
    text-decoration: none;
}

.logo:hover {
    color: white;
    transition: 0.2s;
}

#submit-ans-btn {
    width: fit-content;
    margin: auto;
    height: 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--primary-color);
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 500;
    color: black;
    display: block;
}

#submit-ans-btn:hover {
    background-color: black;
    border: 2px solid white;
    transition: 0.2s;
    color: var(--primary-color);
    box-shadow: 5px 5px 5px black;
}

#output {
    font-size: 20px;
    border: 1px solid var(--primary-color);
    width: max-content;
    margin: auto;
    margin-top: 2rem;
    padding: 0.8rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 5rem;
}

#clear-btn {
    width: fit-content;
    margin: auto;
    height: 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: red;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 500;
    color: white;
}

#clear-btn:hover {
    background-color: black;
    border: 2px solid white;
    transition: 0.2s;
    color: var(--primary-color);
    box-shadow: 5px 5px 5px black;
}


/* Triangle Quiz */

#heading-quiz {
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 4rem;
    font-size: 40px;
    margin-bottom: 2rem;
}


/* Css for mobile view */

@media (max-width: 900px) {
    .nav {
        margin: 0;
        padding: 0;
        left: 0;
        color: black;
    }
    .nav-item {
        display: inline;
        float: left;
        color: white;
        border-right: 1px solid yellow;
    }
    .nav-active {
        background-color: yellow;
        color: black;
    }
    .nav-item.nav-a {
        display: block;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
    }
    #heading-quiz {
        font-size: 33px;
    }
    .footer {
        list-style-type: none;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        padding: 0;
        padding-bottom: 1rem;
        overflow: hidden;
        color: yellow;
        background-color: black;
        width: fit-content;
        border-radius: 10rem;
    }
    .footer-item {
        display: inline;
        padding-left: 0.4rem;
        padding-right: 0.rem;
        font-size: 20px;
    }
    .footer-head {
        display: block;
        color: white;
        margin-bottom: 1.5rem;
    }
    .logo {
        font-size: 30px;
        color: yellow;
        text-decoration: none;
    }
    label {
        padding: 0;
    }
    .question-container {
        text-align: center;
        border: 2px solid var(--primary-color);
        width: 88%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        padding: 0.1rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-size: 16px;
    }
}